PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aoweb
TOKEN_AUTH=changeme
CORS_ORIGIN=http://localhost:3000

# Site configuration
SITE_URL=http://localhost:3000

# Amazon SES (Password Reset emails)
SES_REGION=us-east-1
SES_ACCESS_KEY_ID=
SES_SECRET_ACCESS_KEY=
SES_FROM_EMAIL=noreply@aoweb.online
SES_FROM_NAME="AOWeb"
